/* This is a 'stylesheet'. It defines how the elements appear when they are rendered by the browser. */
html {
  font-size: 62.5%;
}
body {
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
	background-color: rgb(176, 214, 39);
	background-image:
	 linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%);
	background-size: 14px 14px;
}





h1,h2 {
  text-align: center;
  margin: 0;
}
.ttlMsg {
  text-shadow: #fff 1px 1px 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.mv h2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 17px 10px;
  background: #fff;
  border: 3px solid #000;
}

.mv h2 span{
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.greeting0 {
  font-family: 'Bungee Shade', cursive, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting1 {
  font-family: 'Didact Gothic', sans-serif, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting2 {
  font-family: 'GFS Didot', serif, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting3 {
  font-family: 'Kings', cursive, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting4 {
  font-family: 'Noto Sans JP', sans-serif 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting5 {
  font-family: 'Noto Serif TC', serif, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting6 {
  font-family: 'Readex Pro', sans-serif, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting7 {
  font-family: 'Righteous', cursive, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting8 {
  font-family: 'Single Day', cursive, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}
.greeting9 {
  font-family: 'Syncopate', sans-serif, 'Noto Sans JP', 'Noto Serif Traditional Chinese', 'PT Sans';
}

.wrapper {
  background-color: #fff;
  padding: 15px;
}
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p{
  font-family: 'Noto Sans JP', 'Readex Pro', cursive, sans-serif ;
}

#message {
 /* width: 530px;
 height: 39px;
 font-size: 1.8rem; */
 font-family: 'Noto Sans JP', 'Readex Pro', cursive, sans-serif ;
}
.btnArea {
  text-align: center;
}
#greetingBtn {  
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  border: none;
  border-radius: 8px;
  font-size: 2.0rem;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}
#greetingBtn:hover {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #aaaaaa;
}
.musicArea { 
  max-width: 1200px;
  margin: 20px auto 0;
}
#playMusic {
    background: #f5f2e9;
    box-shadow: 0 5px 0 #c9c7c0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-out 0.5s;
    margin: 0 0 0 auto;

}
#playMusic:hover {
  transform: translatex(3px);
  box-shadow: 0 2px 0 #aaaaaa;
}
#playMusic i{
    font-size: 2.5rem;
    text-align: center;
    display: block;
    padding: 11px 0;
}
#playMusic i.fa-play {
  color: #b91c1c;
}
#playMusic i.fa-pause {
  color: rgb(19, 144, 228);
}



/*------------------------------------------
  Foundation Media Queries 
   https://get.foundation/sites/docs/media-queries.html
--------------------------------------------*/
 
/* Small screens - スマホ */
@media only screen {
    .wrapper {
      padding: 5%;
      width: 100%;
      box-sizing: border-box;
  }
  .imgBox {
    /* width: 225px;
    height: 225px; */
    margin-top: 10px;
  }
  .mv {
    display: block;
  }
  .mv h2 {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 0; */
  margin: 0;
  /* padding: 17px 10px; */
  padding: 8px 5px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 3px solid #000;
}
  #message {
    width: 100%;
  }
  .ttlMsg {
    margin-bottom: 5%;
  }
  .mv h2:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 0;
    margin-left: 0px;
    border: 16px solid transparent;
    border-top: 15px solid #000;
}
.fzL {
  font-size: 2.0rem;
}
.imgBox img {
  width: 100%;
}
.box { 
  width: 100%;
  text-align: center;
  margin-bottom: 19px;
}
.box p{
  font-size: 2.4rem;
  margin: 11px 0;
  display: block;
}
 } /* スマホ用のスタイル -モバイルファースト */
 
@media only screen and (max-width: 40em) { } /* 最大幅640px、スマホ専用のスタイル */
 
/* Medium screens - タブレット */
@media only screen and (min-width: 40.063em) { } /* 最小幅641px、Mediumスクリーン */
 
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* 最小幅641pxおよび最大幅1024px、タブレット専用のスタイル */
 
/* Large screens - デスクトップ */
@media only screen and (min-width: 64.063em) { 
  .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3% 5%;
  box-sizing: border-box;
}
.ttlMsg {
  margin-bottom: 30px;
}
 .mv {
    display: flex;
  }
.fzL {
  font-size: 2.5rem;
}
.musicArea { 
  max-width: 1200px;
}
.imgBox {
  width: 530px;
  height: 327.6px;
  text-align: center;
}
.imgBox img{
  height: 100%;
  width: auto;
}
.mv h2:before{
  top: 50%;
  left: 100%;
  margin-top: -15px;
  margin-left: 0px;
  border: 15px solid transparent;
  border-left: 15px solid #000;
}
#message {
 width: 530px;
 height: 39px;
 font-size: 1.8rem;
}
.box {
  margin-top: 15px;
  margin-bottom: 30px;
}
.btnArea {
  margin-top: 10px;
}
} 

/* 最小幅1025px、Largeスクリーン */
 
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* 最小幅1025pxおよび最大幅1440px、Largeスクリーン専用のスタイル */
 
/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* 最小幅1441px、XLargeスクリーン */
 
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* 最小幅1441pxおよび最大幅1920px、XLargeのスクリーン専用のスタイル */
 
/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* 最小幅1921px、XXLargeスクリーン */
 
/*------------------------------------------*/